@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor @ViewData["Desenvolvedor"]</p>
<adress>
    <strong>
        Mais Informações: 
    </strong> 
    <a href="https://www.instagram.com/caioteusla/">Isntagram</a>
</adress>
